body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px; /* Adicionado padding para dispositivos móveis */
    box-sizing: border-box; /* Para incluir o padding dentro da largura total */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Definindo largura máxima */
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px; /* Ajuste de tamanho de fonte */
}

.input-container {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permitir quebra de linha em dispositivos menores */
}

#new-task {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px; /* Adicionado para dar espaço em dispositivos móveis */
}

button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    margin-bottom: 10px; /* Adicionado para dar espaço em dispositivos móveis */
    flex: none; /* Para evitar que o botão ocupe o mesmo espaço do input */
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permitir quebra de linha em dispositivos menores */
}

li:last-child {
    border-bottom: none;
}

li .delete-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
}

li .delete-btn:hover {
    background-color: #c9302c;
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px; /* Tamanho de fonte menor para dispositivos móveis */
    }

    #new-task {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .container {
        padding: 15px;
    }
}
